https://www.gov.br/anp/pt-br/assuntos/precos-e-defesa-da-concorrencia/precos/precos-revenda-e-de-distribuicao-combustiveis/levantamento-de-precos-de-combustiveis

https://dados.gov.br/dataset/serie-historica-de-precos-de-combustiveis-por-revenda

In [3]:
import pandas as pd

In [4]:
!bzcat ca-2015-2022.csv.bz2 | head -5

regiao,uf,municipio,bairro,produto,venda,compra,unidade,ano,mes,dia,bandeira,revenda
SE,SP,SOROCABA,JARDIM ZULMIRA,GASOLINA,3.11,,R$ / litro,2017,7,6,BRANCA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS DE PETROLEO LTDA
SE,SP,SOROCABA,JARDIM ZULMIRA,ETANOL,2.02,,R$ / litro,2017,7,6,BRANCA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS DE PETROLEO LTDA
SE,SP,SOROCABA,JARDIM ZULMIRA,DIESEL S10,2.86,,R$ / litro,2017,7,6,BRANCA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS DE PETROLEO LTDA
NE,BA,ITABUNA,MANOEL LEAO,GASOLINA,3.599,,R$ / litro,2017,7,5,BRANCA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = ca-2015-2022.csv.bz2, output file = (stdout)

In [5]:
# ler os dados do arquivo CSV
df = pd.read_csv("ca-2015-2022.csv.bz2",
                 dtype={'regiao': 'category', 'uf': 'category', 
                        'municipio': 'category', 'bairro': 'category',
                        'produto': 'category', 'venda': 'float32',
                        'compra': 'float32', 'unidade': 'category',
                        'ano': 'category', 'mes': 'category', 'dia': 'category'})

In [6]:
df

,regiao,uf,municipio,bairro,produto,venda,compra,unidade,ano,mes,dia,bandeira,revenda
0,SE,SP,SOROCABA,JARDIM ZULMIRA,GASOLINA,3.110,NaN,R$ / litro,2017,7,6,BRANCA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...
1,SE,SP,SOROCABA,JARDIM ZULMIRA,ETANOL,2.020,NaN,R$ / litro,2017,7,6,BRANCA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...
2,SE,SP,SOROCABA,JARDIM ZULMIRA,DIESEL S10,2.860,NaN,R$ / litro,2017,7,6,BRANCA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...
3,NE,BA,ITABUNA,MANOEL LEAO,GASOLINA,3.599,NaN,R$ / litro,2017,7,5,BRANCA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA
4,NE,BA,ITABUNA,MANOEL LEAO,DIESEL,2.870,NaN,R$ / litro,2017,7,5,BRANCA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6895498,NE,PI,PARNAIBA,SAO BENEDITO,DIESEL,3.530,NaN,R$ / litro,2018,6,25,PETROBRAS DISTRIBUIDORA S.A.,V. MACHADO & CIA LTDA
6895499,NE,PI,PARNAIBA,SAO BENEDITO,DIESEL S10,3.630,NaN,R$ / litro,2018,6,25,PETROBRAS DISTRIBUIDORA S.A.,V. MACHADO & CIA LTDA
6895500,NE,BA,BARREIRAS,CENTRO,GASOLINA,4.599,NaN,R$ / litro,2018,6,26,PETROBRAS DISTRIBUIDORA S.A.,POSTO MACAUBENSE LTDA
6895501,NE,BA,BARREIRAS,CENTRO,ETANOL,3.049,NaN,R$ / litro,2018,6,26,PETROBRAS DISTRIBUIDORA S.A.,POSTO MACAUBENSE LTDA
6895502,NE,BA,BARREIRAS,CENTRO,DIESEL S10,3.699,NaN,R$ / litro,2018,6,26,PETROBRAS DISTRIBUIDORA S.A.,POSTO MACAUBENSE LTDA

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6895503 entries, 0 to 6895502
Data columns (total 13 columns):
 #   Column     Dtype
---  ------     -----
 0   regiao     category
 1   uf         category
 2   municipio  category
 3   bairro     category
 4   produto    category
 5   venda      float32
 6   compra     float32
 7   unidade    category
 8   ano        category
 9   mes        category
 10  dia        category
 11  bandeira   object
 12  revenda    object
dtypes: category(9), float32(2), object(2)
memory usage: 230.5+ MB

In [8]:
df.describe(include='all')

,regiao,uf,municipio,bairro,produto,venda,compra,unidade,ano,mes,dia,bandeira,revenda
count,6895503,6895503,6895503,6872735,6895503,6.895503e+06,2.130967e+06,6895503,6895503,6895503,6895503,6895503,6895503
unique,5,27,600,8575,6,NaN,NaN,3,8,12,31,113,22201
top,SE,SP,SAO PAULO,CENTRO,GASOLINA,NaN,NaN,R$ / litro,2015,3,27,BRANCA,SIM REDE DE POSTOS LTDA
freq,3361831,1987377,204744,1268453,2030600,NaN,NaN,6777242,1107748,694474,253769,2224092,22280
mean,NaN,NaN,NaN,NaN,NaN,3.818593e+00,2.943177e+00,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,1.182558e+00,5.922022e-01,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,1.379000e+00,1.095800e+00,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,3.029000e+00,2.559900e+00,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,3.549000e+00,2.907000e+00,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,4.299000e+00,3.298000e+00,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,9.270000e+00,5.091000e+00,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
for col in df.columns:
    print(df[[col]].value_counts(), "\n")

regiao
SE        3361831
NE        1364909
S         1147140
CO         608796
N          412827
dtype: int64

uf
SP    1987377
MG     704274
RJ     536042
PR     445741
RS     414461
BA     400204
SC     286938
GO     257520
CE     249709
PE     219318
MT     183447
ES     134138
MA     119093
PA     118401
MS     110285
RN      88789
RO      81601
PB      81007
PI      79184
AM      76641
AL      76062
DF      57544
TO      53182
SE      51543
AC      47432
AP      19613
RR      15957
dtype: int64

municipio
SAO PAULO         204744
FORTALEZA         109663
RIO DE JANEIRO    103288
SALVADOR           92761
CUIABA             79931
                   ...
NOVA LONDRINA          8
GASPAR                 6
CANSANCAO              6
VARGEAO                5
ESTRELA                4
Length: 600, dtype: int64

bairro
CENTRO              1268453
ZONA RURAL            76177
SEDE                  32688
BOA VISTA             26853
CIDADE NOVA           24969
                     ...
JARDIM UBIRAJARA          2
ALTO BOQUEIRÃO           2
CITROLANDIA               1
LAGO DE TEFÉ              1
VILA FÁTIMA               1
Length: 8575, dtype: int64

produto
GASOLINA              2030600
ETANOL                1818947
DIESEL S10            1520922
DIESEL                1139352
GASOLINA ADITIVADA     267421
GNV                    118261
dtype: int64

venda
2.999    144059
3.499    122792
3.599    122053
3.299    109704
3.699    108513
          ...
6.031         1
6.026         1
6.022         1
4.201         1
7.592         1
Length: 5592, dtype: int64

compra
2.5800    2907
2.8500    2882
2.9500    2835
3.1500    2823
2.8000    2763
          ...
1.4337       1
4.6616       1
4.6615       1
1.4344       1
5.0910       1
Length: 33639, dtype: int64

unidade
R$ / litro    6777242
R$ / mÂ³       109718
R$ / m³          8543
dtype: int64

ano
2015    1107748
2019    1004029
2016     975857
2018     963002
2021     807537
2017     788606
2020     719300
2022     529424
dtype: int64

mes
3      694474
6      693206
5      671971
1      664408
4      664138
2      610464
7      602313
8      511633
12     485453
11     458959
10     441319
9      397165
dtype: int64

dia
27     253769
22     245605
10     243953
13     243641
23     241705
11     240838
20     239135
6      237492
17     237165
3      236634
8      234617
5      234606
15     233048
2      232244
18     230703
16     229687
4      229130
21     222356
28     220971
26     220214
9      219597
14     218902
30     214262
1      211258
25     208810
12     206541
29     205650
7      202740
19     198651
24     196675
31     104904
dtype: int64

bandeira
BRANCA                          2224092
PETROBRAS DISTRIBUIDORA S.A.    1459621
IPIRANGA                        1205886
RAIZEN                          1066795
VIBRA ENERGIA                    272608
                                 ...
BREMEN                                6
SETA                                  3
PR DISTRIBUIDORA                      3
76 OIL                                3
RUMOS                                 2
Length: 113, dtype: int64

revenda
SIM REDE DE POSTOS LTDA                                                    22280
COMERCIAL BUFFON COMBUSTIVEIS E TRANSPORTES LIMITADA                       15357
CARREFOUR COMERCIO E INDUSTRIA LTDA                                        13689
COMPANHIA BRASILEIRA DE DISTRIBUICAO                                       11857
CASCOL COMBUSTIVEIS PARA VEICULOS LTDA                                     11700
                                                                           ...
MEGACOMB COMÃRCIO DE COMBUSTÃVEIS LTDA.                                      1
AUTO POSTO FÁTIMA LTDA                                                         1
POSTO CITROLANDIA LTDA                                                         1
L F R COMERCIO VAREJISTA DE COMBUSTIVEIS PARA VEICULOS AUTOMOTORES LTDA        1
PEIXE VIVO GAS GNV LTDA.                                                       1
Length: 22201, dtype: int64

In [10]:
total = len(df)
for col in df.columns:
    qtd = df[df[col].isna()]['uf'].count()
    print("%10s: %7d nulos (%6.2f%%)" % (col, qtd, qtd / total * 100))
print("%10s: %7d linhas" % ("total", total))

    regiao:       0 nulos (  0.00%)
        uf:       0 nulos (  0.00%)
 municipio:       0 nulos (  0.00%)
    bairro:   22768 nulos (  0.33%)
   produto:       0 nulos (  0.00%)
     venda:       0 nulos (  0.00%)
    compra: 4764536 nulos ( 69.10%)
   unidade:       0 nulos (  0.00%)
       ano:       0 nulos (  0.00%)
       mes:       0 nulos (  0.00%)
       dia:       0 nulos (  0.00%)
  bandeira:       0 nulos (  0.00%)
   revenda:       0 nulos (  0.00%)
     total: 6895503 linhas

In [11]:
df.groupby(['produto', 'unidade'])[['venda']].count().T

produto     DIESEL                  DIESEL S10                      ETANOL  \
unidade R$ / litro R$ / mÂ³ R$ / m³ R$ / litro R$ / mÂ³ R$ / m³ R$ / litro
venda      1139352        0       0    1520922        0       0    1818947

produto                    GASOLINA                         GNV           \
unidade R$ / mÂ³ R$ / m³ R$ / litro R$ / mÂ³ R$ / m³ R$ / litro R$ / mÂ³
venda          0       0    2030600        0       0          0   109718

produto         GASOLINA ADITIVADA
unidade R$ / m³         R$ / litro R$ / mÂ³ R$ / m³
venda      8543             267421        0       0

In [12]:
df[~df['compra'].isna()].\
    groupby(['ano'])[['compra']].count().T

ano       2017    2020  2021    2019    2015    2016  2022    2018
compra  355765  156012     0  381869  431043  419788     0  386490

In [13]:
df[df['produto'].isin(['GASOLINA', 'ETANOL'])].\
    groupby(['ano'])[['compra']].count().T

ano       2017   2020  2021    2019    2015    2016  2022    2018
compra  210253  92445     0  227925  267508  250067     0  231377

> **O contrato atual Levantamento de Preços de  Combustíveis (LPC) não prevê a coleta dos preços de compra dos revendedores junto às distribuidoras.**

In [41]:
#df.groupby(['regiao', 'uf', 'municipio', 'bairro'])[['venda']].count()

In [12]:
pd.set_option('display.max_rows', None)

In [17]:
pd.set_option('display.max_rows', 50)