https://www.gov.br/anp/pt-br/assuntos/precos-e-defesa-da-concorrencia/precos/precos-revenda-e-de-distribuicao-combustiveis/levantamento-de-precos-de-combustiveis

In [19]:
import pandas as pd

In [20]:
!bzcat ca-2017-2022.csv.bz2 | head -5

regiao,uf,municipio,bairro,produto,venda,compra,unidade,ano,mes,dia,bandeira,revenda
SE,SP,SOROCABA,JARDIM ZULMIRA,GASOLINA,3.11,,R$ / litro,2017,7,6,BRANCA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS DE PETROLEO LTDA
SE,SP,SOROCABA,JARDIM ZULMIRA,ETANOL,2.02,,R$ / litro,2017,7,6,BRANCA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS DE PETROLEO LTDA
SE,SP,SOROCABA,JARDIM ZULMIRA,DIESEL S10,2.86,,R$ / litro,2017,7,6,BRANCA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS DE PETROLEO LTDA
NE,BA,ITABUNA,MANOEL LEAO,GASOLINA,3.599,,R$ / litro,2017,7,5,BRANCA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = ca-2017-2022.csv.bz2, output file = (stdout)

In [21]:
# ler os dados do arquivo CSV
df = pd.read_csv("ca-2017-2022.csv.bz2",
                 dtype={'regiao': 'category', 'uf': 'category', 
                        'municipio': 'category', 'bairro': 'category',
                        'produto': 'category', 'venda': 'float32',
                        'compra': 'float32', 'unidade': 'category',
                        'ano': 'category', 'mes': 'category', 'dia': 'category'})

In [22]:
df

,regiao,uf,municipio,bairro,produto,venda,compra,unidade,ano,mes,dia,bandeira,revenda
0,SE,SP,SOROCABA,JARDIM ZULMIRA,GASOLINA,3.110,NaN,R$ / litro,2017,7,6,BRANCA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...
1,SE,SP,SOROCABA,JARDIM ZULMIRA,ETANOL,2.020,NaN,R$ / litro,2017,7,6,BRANCA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...
2,SE,SP,SOROCABA,JARDIM ZULMIRA,DIESEL S10,2.860,NaN,R$ / litro,2017,7,6,BRANCA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...
3,NE,BA,ITABUNA,MANOEL LEAO,GASOLINA,3.599,NaN,R$ / litro,2017,7,5,BRANCA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA
4,NE,BA,ITABUNA,MANOEL LEAO,DIESEL,2.870,NaN,R$ / litro,2017,7,5,BRANCA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4811893,NE,PI,PARNAIBA,SAO BENEDITO,DIESEL,3.530,NaN,R$ / litro,2018,6,25,PETROBRAS DISTRIBUIDORA S.A.,V. MACHADO & CIA LTDA
4811894,NE,PI,PARNAIBA,SAO BENEDITO,DIESEL S10,3.630,NaN,R$ / litro,2018,6,25,PETROBRAS DISTRIBUIDORA S.A.,V. MACHADO & CIA LTDA
4811895,NE,BA,BARREIRAS,CENTRO,GASOLINA,4.599,NaN,R$ / litro,2018,6,26,PETROBRAS DISTRIBUIDORA S.A.,POSTO MACAUBENSE LTDA
4811896,NE,BA,BARREIRAS,CENTRO,ETANOL,3.049,NaN,R$ / litro,2018,6,26,PETROBRAS DISTRIBUIDORA S.A.,POSTO MACAUBENSE LTDA
4811897,NE,BA,BARREIRAS,CENTRO,DIESEL S10,3.699,NaN,R$ / litro,2018,6,26,PETROBRAS DISTRIBUIDORA S.A.,POSTO MACAUBENSE LTDA

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4811898 entries, 0 to 4811897
Data columns (total 13 columns):
 #   Column     Dtype
---  ------     -----
 0   regiao     category
 1   uf         category
 2   municipio  category
 3   bairro     category
 4   produto    category
 5   venda      float32
 6   compra     float32
 7   unidade    category
 8   ano        category
 9   mes        category
 10  dia        category
 11  bandeira   object
 12  revenda    object
dtypes: category(9), float32(2), object(2)
memory usage: 161.0+ MB

In [24]:
df.describe(include='all')

,regiao,uf,municipio,bairro,produto,venda,compra,unidade,ano,mes,dia,bandeira,revenda
count,4811898,4811898,4811898,4796665,4811898,4.811898e+06,1.280136e+06,4811898,4811898,4811898,4811898,4811898,4811898
unique,5,27,524,8073,6,NaN,NaN,3,6,12,31,86,19945
top,SE,SP,SAO PAULO,CENTRO,GASOLINA,NaN,NaN,R$ / litro,2019,6,17,BRANCA,SIM REDE DE POSTOS LTDA
freq,2340147,1406385,146303,852596,1389747,NaN,NaN,4731125,1004029,484497,185774,1612766,19068
mean,NaN,NaN,NaN,NaN,NaN,4.198101e+00,3.153744e+00,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,1.227975e+00,5.821281e-01,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,1.699000e+00,1.172200e+00,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,3.349000e+00,2.736400e+00,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,3.850000e+00,3.130000e+00,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,4.720000e+00,3.540000e+00,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,9.270000e+00,5.091000e+00,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
for col in df.columns:
    print(df[[col]].value_counts(), "\n")

regiao
SE        2340147
NE         951512
S          791030
CO         439113
N          290096
dtype: int64

uf
SP    1406385
MG     477561
RJ     365004
PR     310449
RS     285019
BA     279397
SC     195562
CE     183494
GO     182973
PE     145923
MT     138023
ES      91197
MA      83078
PA      81602
MS      76460
RN      60722
RO      56607
PI      55971
PB      54436
AM      54122
AL      51914
DF      41657
TO      37336
SE      36577
AC      35365
AP      14092
RR      10972
dtype: int64

municipio
SAO PAULO         146303
FORTALEZA          87419
SALVADOR           71650
RIO DE JANEIRO     69671
CUIABA             63364
                   ...
ARROIO GRANDE         16
JAPARATUBA             9
PIRAPORA               9
VARGEAO                5
SENA MADUREIRA         4
Length: 524, dtype: int64

bairro
CENTRO                         852596
ZONA RURAL                      49296
SEDE                            19885
BOA VISTA                       18811
CIDADE NOVA                     17291
                                ...
TRADICIONAL - SAO SEBASTIAO         2
CITROLANDIA                         1
RONDINHA                            1
VILA FÁTIMA                         1
LAGO DE TEFÉ                        1
Length: 8073, dtype: int64

produto
GASOLINA              1389747
ETANOL                1234421
DIESEL S10            1114089
DIESEL                 725447
GASOLINA ADITIVADA     267421
GNV                     80773
dtype: int64

venda
3.599    93431
3.499    90757
3.699    87180
3.999    78351
3.399    77837
         ...
7.385        1
6.083        1
6.101        1
6.102        1
5.714        1
Length: 5262, dtype: int64

compra
3.0000    1996
3.1500    1992
3.1000    1887
2.9500    1876
3.0500    1865
          ...
1.9267       1
1.9231       1
1.9226       1
1.9221       1
5.0910       1
Length: 30366, dtype: int64

unidade
R$ / litro    4731125
R$ / mÂ³        72230
R$ / m³          8543
dtype: int64

ano
2019    1004029
2018     963002
2021     807537
2017     788606
2020     719300
2022     529424
dtype: int64

mes
6      484497
3      482696
1      480759
5      476143
4      470333
2      420562
7      410054
8      352613
12     328743
11     314387
10     314042
9      277069
dtype: int64

dia
17     185774
27     179366
3      176952
22     174024
10     173836
13     173708
15     167708
20     166328
6      166282
4      166133
11     165926
18     165192
8      163013
2      161651
23     161073
30     153964
21     153551
9      153261
28     152746
5      151340
26     151093
16     150456
25     145060
12     144495
14     144088
1      140759
24     140497
7      138016
19     134665
29     133847
31      77094
dtype: int64

bandeira
BRANCA                          1612766
PETROBRAS DISTRIBUIDORA S.A.     899831
IPIRANGA                         833087
RAIZEN                           764023
VIBRA ENERGIA                    272608
                                 ...
ELLO                                  3
PR DISTRIBUIDORA                      3
AIR BP                                3
76 OIL                                3
RUMOS                                 2
Length: 86, dtype: int64

revenda
SIM REDE DE POSTOS LTDA                                                    19068
COMERCIAL BUFFON COMBUSTIVEIS E TRANSPORTES LIMITADA                       10820
CARREFOUR COMERCIO E INDUSTRIA LTDA                                        10093
CASCOL COMBUSTIVEIS PARA VEICULOS LTDA                                      8589
COMPANHIA BRASILEIRA DE DISTRIBUICAO                                        7836
                                                                           ...
BARBOSA & MELO LTDA                                                            1
AUTO POSTO FELIZARDO LTDA                                                      1
L F R COMERCIO VAREJISTA DE COMBUSTIVEIS PARA VEICULOS AUTOMOTORES LTDA        1
GASLAB POSTO DE REVENDA DE GÃS NATURAL LTDA.                                  1
SOCIEDADE CAXIENSE DE AUTOMOVEIS S/A                                           1
Length: 19945, dtype: int64

In [38]:
total = len(df)
for col in df.columns:
    qtd = df[df[col].isna()]['uf'].count()
    print("%10s: %7d nulos (%6.2f%%)" % (col, qtd, qtd / total * 100))
print("%10s: %7d linhas" % ("total", total))

    regiao:       0 nulos (  0.00%)
        uf:       0 nulos (  0.00%)
 municipio:       0 nulos (  0.00%)
    bairro:   15233 nulos (  0.32%)
   produto:       0 nulos (  0.00%)
     venda:       0 nulos (  0.00%)
    compra: 3531762 nulos ( 73.40%)
   unidade:       0 nulos (  0.00%)
       ano:       0 nulos (  0.00%)
       mes:       0 nulos (  0.00%)
       dia:       0 nulos (  0.00%)
  bandeira:       0 nulos (  0.00%)
   revenda:       0 nulos (  0.00%)
     total: 4811898 linhas

In [39]:
df.groupby(['produto', 'unidade'])[['venda']].count().T

produto     DIESEL                  DIESEL S10                      ETANOL  \
unidade R$ / litro R$ / mÂ³ R$ / m³ R$ / litro R$ / mÂ³ R$ / m³ R$ / litro
venda       725447        0       0    1114089        0       0    1234421

produto                    GASOLINA                         GNV           \
unidade R$ / mÂ³ R$ / m³ R$ / litro R$ / mÂ³ R$ / m³ R$ / litro R$ / mÂ³
venda          0       0    1389747        0       0          0    72230

produto         GASOLINA ADITIVADA
unidade R$ / m³         R$ / litro R$ / mÂ³ R$ / m³
venda      8543             267421        0       0

In [67]:
df[~df['compra'].isna()].\
    groupby(['ano'])[['compra']].count().T

ano       2017    2020  2021    2019  2022    2018
compra  355765  156012     0  381869     0  386490

In [65]:
df[df['produto'].isin(['GASOLINA', 'ETANOL'])].\
    groupby(['ano'])[['compra']].count().T

ano       2017   2020  2021    2019  2022    2018
compra  210253  92445     0  227925     0  231377

> O contrato atual Levantamento de Preços de  Combustíveis (LPC) não prevê a coleta dos preços de compra dos revendedores junto às distribuidoras.

In [41]:
#df.groupby(['regiao', 'uf', 'municipio', 'bairro'])[['venda']].count()

In [12]:
pd.set_option('display.max_rows', None)

In [17]:
pd.set_option('display.max_rows', 50)