In [9]:
import pandas as pd

In [10]:
# ler os dados do arquivo CSV
df = pd.read_csv("ge-2015-2020.csv.bz2",
                 dtype={'regiao': 'category', 'uf': 'category', 
                        'municipio': 'category', 'bairro': 'category',
                        'produto': 'category', 'venda': 'float32',
                        'compra': 'float32', 'unidade': 'category',
                        'ano': 'uint16', 'mes': 'uint8',
                        'bandeira': 'category'})

In [11]:
df

,regiao,uf,municipio,bairro,produto,venda,compra,ano,mes,bandeira,revenda
0,SE,SP,SOROCABA,JARDIM ZULMIRA,GASOLINA,3.110,NaN,2017,7,BRANCA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...
1,SE,SP,SOROCABA,JARDIM ZULMIRA,ETANOL,2.020,NaN,2017,7,BRANCA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...
2,NE,BA,ITABUNA,MANOEL LEAO,GASOLINA,3.599,NaN,2017,7,BRANCA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA
3,S,PR,PATO BRANCO,CENTRO,GASOLINA,3.680,3.0396,2017,7,RODOIL,SANTOS & MERLO LTDA.
4,S,PR,PATO BRANCO,CENTRO,ETANOL,2.780,NaN,2017,7,RODOIL,SANTOS & MERLO LTDA.
...,...,...,...,...,...,...,...,...,...,...,...
3212935,CO,GO,APARECIDA DE GOIANIA,JARDIM HELVECIA,ETANOL,2.899,2.3550,2018,6,RIO BRANCO,RE AUTO POSTO LTDA
3212936,SE,MG,JUIZ DE FORA,INDUSTRIAL,ETANOL,2.960,2.2850,2018,6,BRANCA,POSTO FACIT LTDA
3212937,NE,PI,PARNAIBA,SAO BENEDITO,GASOLINA,4.850,NaN,2018,6,PETROBRAS DISTRIBUIDORA S.A.,V. MACHADO & CIA LTDA
3212938,NE,BA,BARREIRAS,CENTRO,GASOLINA,4.599,NaN,2018,6,PETROBRAS DISTRIBUIDORA S.A.,POSTO MACAUBENSE LTDA
3212939,NE,BA,BARREIRAS,CENTRO,ETANOL,3.049,NaN,2018,6,PETROBRAS DISTRIBUIDORA S.A.,POSTO MACAUBENSE LTDA

In [12]:
# selecionar apenas linhas que possuem valor de compra preenchido
df2 = df[~df['compra'].isna()]
df2

,regiao,uf,municipio,bairro,produto,venda,compra,ano,mes,bandeira,revenda
3,S,PR,PATO BRANCO,CENTRO,GASOLINA,3.680,3.0396,2017,7,RODOIL,SANTOS & MERLO LTDA.
9,N,AC,CRUZEIRO DO SUL,JOÃƒÂƒO ALVES,GASOLINA,4.700,3.5757,2017,7,BRANCA,CARDINAL E OLIVEIRA LTDA
13,N,AC,RIO BRANCO,ESTACAO EXPERIMENTAL,GASOLINA,3.830,3.2829,2017,7,PETROBRAS DISTRIBUIDORA S.A.,AUTO POSTO ISAURAO LTDA
14,N,AC,RIO BRANCO,ESTACAO EXPERIMENTAL,ETANOL,3.600,3.0056,2017,7,PETROBRAS DISTRIBUIDORA S.A.,AUTO POSTO ISAURAO LTDA
15,N,AC,RIO BRANCO,AVIARIO,GASOLINA,3.850,3.4399,2017,7,PETROBRAS DISTRIBUIDORA S.A.,COMDEPE COMERCIO DE DERIVADOS DE PETROLEO LTDA
...,...,...,...,...,...,...,...,...,...,...,...
3212930,NE,AL,ARAPIRACA,PRIMAVERA,GASOLINA,4.620,4.1984,2018,6,ALESAT,POSTO ARAPIRACA LTDA
3212931,NE,AL,ARAPIRACA,PRIMAVERA,ETANOL,3.599,3.2469,2018,6,ALESAT,POSTO ARAPIRACA LTDA
3212934,CO,GO,APARECIDA DE GOIANIA,JARDIM HELVECIA,GASOLINA,4.799,4.2698,2018,6,RIO BRANCO,RE AUTO POSTO LTDA
3212935,CO,GO,APARECIDA DE GOIANIA,JARDIM HELVECIA,ETANOL,2.899,2.3550,2018,6,RIO BRANCO,RE AUTO POSTO LTDA
3212936,SE,MG,JUIZ DE FORA,INDUSTRIAL,ETANOL,2.960,2.2850,2018,6,BRANCA,POSTO FACIT LTDA

In [13]:
# remover colunas que serÃ£o desprezadas
#df2r = df2.drop(['regiao', 'municipio', 'bairro', 'bandeira', 'revenda'], axis=1)
df2r = df2.drop(['uf', 'municipio', 'bairro', 'bandeira', 'revenda'], axis=1)
df2r

        regiao   produto  venda  compra   ano  mes
3            S  GASOLINA  3.680  3.0396  2017    7
9            N  GASOLINA  4.700  3.5757  2017    7
13           N  GASOLINA  3.830  3.2829  2017    7
14           N    ETANOL  3.600  3.0056  2017    7
15           N  GASOLINA  3.850  3.4399  2017    7
...        ...       ...    ...     ...   ...  ...
3212930     NE  GASOLINA  4.620  4.1984  2018    6
3212931     NE    ETANOL  3.599  3.2469  2018    6
3212934     CO  GASOLINA  4.799  4.2698  2018    6
3212935     CO    ETANOL  2.899  2.3550  2018    6
3212936     SE    ETANOL  2.960  2.2850  2018    6

[1279575 rows x 6 columns]

In [14]:
df2r.describe(include='all')

,regiao,produto,venda,compra,ano,mes
count,1279575,1279575,1.279575e+06,1.279575e+06,1.279575e+06,1.279575e+06
unique,5,2,NaN,NaN,NaN,NaN
top,SE,GASOLINA,NaN,NaN,NaN,NaN
freq,753357,700315,NaN,NaN,NaN,NaN
mean,NaN,NaN,3.449648e+00,2.996882e+00,2.017140e+03,6.029307e+00
std,NaN,NaN,7.550520e-01,6.995669e-01,1.598607e+00,3.374020e+00
min,NaN,NaN,1.390000e+00,1.171400e+00,2.015000e+03,1.000000e+00
25%,NaN,NaN,2.879000e+00,2.468000e+00,2.016000e+03,3.000000e+00
50%,NaN,NaN,3.469000e+00,2.987100e+00,2.017000e+03,6.000000e+00
75%,NaN,NaN,3.990000e+00,3.500000e+00,2.019000e+03,9.000000e+00
max,NaN,NaN,5.799000e+00,5.091000e+00,2.020000e+03,1.200000e+01

In [15]:
df2r.corr()

           venda    compra       ano       mes
venda   1.000000  0.974231  0.455107  0.053142
compra  0.974231  1.000000  0.480345  0.054369
ano     0.455107  0.480345  1.000000 -0.047364
mes     0.053142  0.054369 -0.047364  1.000000

In [16]:
# converter colunas categÃ³ricas em numÃ©ricas (one-hot encoding)
df2r = pd.get_dummies(df2r)
df2r

,venda,compra,ano,mes,regiao_CO,regiao_N,regiao_NE,regiao_S,regiao_SE,produto_ETANOL,produto_GASOLINA
3,3.680,3.0396,2017,7,0,0,0,1,0,0,1
9,4.700,3.5757,2017,7,0,1,0,0,0,0,1
13,3.830,3.2829,2017,7,0,1,0,0,0,0,1
14,3.600,3.0056,2017,7,0,1,0,0,0,1,0
15,3.850,3.4399,2017,7,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
3212930,4.620,4.1984,2018,6,0,0,1,0,0,0,1
3212931,3.599,3.2469,2018,6,0,0,1,0,0,1,0
3212934,4.799,4.2698,2018,6,1,0,0,0,0,0,1
3212935,2.899,2.3550,2018,6,1,0,0,0,0,1,0
3212936,2.960,2.2850,2018,6,0,0,0,0,1,1,0

In [17]:
df2r.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1279575 entries, 3 to 3212936
Data columns (total 11 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   venda             1279575 non-null  float32
 1   compra            1279575 non-null  float32
 2   ano               1279575 non-null  uint16
 3   mes               1279575 non-null  uint8
 4   regiao_CO         1279575 non-null  uint8
 5   regiao_N          1279575 non-null  uint8
 6   regiao_NE         1279575 non-null  uint8
 7   regiao_S          1279575 non-null  uint8
 8   regiao_SE         1279575 non-null  uint8
 9   produto_ETANOL    1279575 non-null  uint8
 10  produto_GASOLINA  1279575 non-null  uint8
dtypes: float32(2), uint16(1), uint8(8)
memory usage: 31.7 MB

In [18]:
df2r.corr()

,venda,compra,ano,mes,regiao_CO,regiao_N,regiao_NE,regiao_S,regiao_SE,produto_ETANOL,produto_GASOLINA
venda,1.000000,0.974231,0.455107,0.053142,-0.007391,0.147974,0.118231,0.060357,-0.193939,-0.725759,0.725759
compra,0.974231,1.000000,0.480345,0.054369,0.004081,0.123004,0.095855,0.071434,-0.177968,-0.720215,0.720215
ano,0.455107,0.480345,1.000000,-0.047364,0.019114,0.004300,0.018953,-0.014635,-0.016367,-0.004045,0.004045
mes,0.053142,0.054369,-0.047364,1.000000,0.006167,0.006938,0.009374,-0.004568,-0.010367,0.002697,-0.002697
regiao_CO,-0.007391,0.004081,0.019114,0.006167,1.000000,-0.054106,-0.118633,-0.089020,-0.292229,0.016309,-0.016309
regiao_N,0.147974,0.123004,0.004300,0.006938,-0.054106,1.000000,-0.107608,-0.080747,-0.265070,-0.072565,0.072565
regiao_NE,0.118231,0.095855,0.018953,0.009374,-0.118633,-0.107608,1.000000,-0.177045,-0.581190,-0.026049,0.026049
regiao_S,0.060357,0.071434,-0.014635,-0.004568,-0.089020,-0.080747,-0.177045,1.000000,-0.436113,-0.052670,0.052670
regiao_SE,-0.193939,-0.177968,-0.016367,-0.010367,-0.292229,-0.265070,-0.581190,-0.436113,1.000000,0.078747,-0.078747
produto_ETANOL,-0.725759,-0.720215,-0.004045,0.002697,0.016309,-0.072565,-0.026049,-0.052670,0.078747,1.000000,-1.000000
produto_GASOLINA,0.725759,0.720215,0.004045,-0.002697,-0.016309,0.072565,0.026049,0.052670,-0.078747,-1.000000,1.000000

## Treinar modelo de regressÃ£o

In [19]:
from sklearn.ensemble import RandomForestRegressor

In [20]:
X = df2r.drop('compra', axis=1).values
y = df2r['compra']

In [21]:
X.shape, y.shape

((1279575, 10), (1279575,))

In [22]:
modelo = RandomForestRegressor(random_state=42, n_jobs=-1)
modelo

RandomForestRegressor(n_jobs=-1, random_state=42)

In [23]:
%time modelo.fit(X, y)

CPU times: user 7min 48s, sys: 1.2 s, total: 7min 49s
Wall time: 41.8 s

RandomForestRegressor(n_jobs=-1, random_state=42)

In [24]:
X[0]

array([3.680e+00, 2.017e+03, 7.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
       1.000e+00, 0.000e+00, 0.000e+00, 1.000e+00], dtype=float32)

In [25]:
modelo.predict([X[0]])

array([3.06399384])

## Imputar valores ausentes

In [26]:
# selecionar apenas linhas que nÃ£o possuem valor de compra preenchido
df3 = df[df['compra'].isna()]
df3

,regiao,uf,municipio,bairro,produto,venda,compra,ano,mes,bandeira,revenda
0,SE,SP,SOROCABA,JARDIM ZULMIRA,GASOLINA,3.110,NaN,2017,7,BRANCA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...
1,SE,SP,SOROCABA,JARDIM ZULMIRA,ETANOL,2.020,NaN,2017,7,BRANCA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...
2,NE,BA,ITABUNA,MANOEL LEAO,GASOLINA,3.599,NaN,2017,7,BRANCA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA
4,S,PR,PATO BRANCO,CENTRO,ETANOL,2.780,NaN,2017,7,RODOIL,SANTOS & MERLO LTDA.
5,N,AC,CRUZEIRO DO SUL,CENTRO,GASOLINA,4.700,NaN,2017,7,PETROBRAS DISTRIBUIDORA S.A.,CARDINAL E OLIVEIRA LTDA
...,...,...,...,...,...,...,...,...,...,...,...
3212932,SE,MG,MANHUACU,REALEZA,GASOLINA,4.790,NaN,2018,6,RAIZEN,AUTO POSTO NAZARAO REALEZA LTDA
3212933,SE,MG,MANHUACU,REALEZA,ETANOL,2.990,NaN,2018,6,RAIZEN,AUTO POSTO NAZARAO REALEZA LTDA
3212937,NE,PI,PARNAIBA,SAO BENEDITO,GASOLINA,4.850,NaN,2018,6,PETROBRAS DISTRIBUIDORA S.A.,V. MACHADO & CIA LTDA
3212938,NE,BA,BARREIRAS,CENTRO,GASOLINA,4.599,NaN,2018,6,PETROBRAS DISTRIBUIDORA S.A.,POSTO MACAUBENSE LTDA
3212939,NE,BA,BARREIRAS,CENTRO,ETANOL,3.049,NaN,2018,6,PETROBRAS DISTRIBUIDORA S.A.,POSTO MACAUBENSE LTDA

In [27]:
# remover colunas que serÃ£o desprezadas
#df3r = df3.drop(['regiao', 'municipio', 'bairro', 'bandeira', 'revenda', 'compra'], axis=1)
df3r = df3.drop(['uf', 'municipio', 'bairro', 'bandeira', 'revenda', 'compra'], axis=1)
df3r

        regiao   produto  venda   ano  mes
0           SE  GASOLINA  3.110  2017    7
1           SE    ETANOL  2.020  2017    7
2           NE  GASOLINA  3.599  2017    7
4            S    ETANOL  2.780  2017    7
5            N  GASOLINA  4.700  2017    7
...        ...       ...    ...   ...  ...
3212932     SE  GASOLINA  4.790  2018    6
3212933     SE    ETANOL  2.990  2018    6
3212937     NE  GASOLINA  4.850  2018    6
3212938     NE  GASOLINA  4.599  2018    6
3212939     NE    ETANOL  3.049  2018    6

[1933365 rows x 5 columns]

In [28]:
# converter colunas categÃ³ricas em numÃ©ricas (one-hot encoding)
df3r = pd.get_dummies(df3r)
df3r

,venda,ano,mes,regiao_CO,regiao_N,regiao_NE,regiao_S,regiao_SE,produto_ETANOL,produto_GASOLINA
0,3.110,2017,7,0,0,0,0,1,0,1
1,2.020,2017,7,0,0,0,0,1,1,0
2,3.599,2017,7,0,0,1,0,0,0,1
4,2.780,2017,7,0,0,0,1,0,1,0
5,4.700,2017,7,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
3212932,4.790,2018,6,0,0,0,0,1,0,1
3212933,2.990,2018,6,0,0,0,0,1,1,0
3212937,4.850,2018,6,0,0,1,0,0,0,1
3212938,4.599,2018,6,0,0,1,0,0,0,1
3212939,3.049,2018,6,0,0,1,0,0,1,0

In [29]:
df3r.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1933365 entries, 0 to 3212939
Data columns (total 10 columns):
 #   Column            Dtype
---  ------            -----
 0   venda             float32
 1   ano               uint16
 2   mes               uint8
 3   regiao_CO         uint8
 4   regiao_N          uint8
 5   regiao_NE         uint8
 6   regiao_S          uint8
 7   regiao_SE         uint8
 8   produto_ETANOL    uint8
 9   produto_GASOLINA  uint8
dtypes: float32(1), uint16(1), uint8(8)
memory usage: 40.6 MB

In [30]:
df3r.corr()

,venda,ano,mes,regiao_CO,regiao_N,regiao_NE,regiao_S,regiao_SE,produto_ETANOL,produto_GASOLINA
venda,1.000000,0.437349,0.072780,-0.027393,0.139255,0.097410,0.037427,-0.153195,-0.707216,0.707216
ano,0.437349,1.000000,0.013873,0.009225,0.000439,0.004377,-0.035132,0.018133,-0.011107,0.011107
mes,0.072780,0.013873,1.000000,0.012688,-0.000089,0.009029,-0.010310,-0.007127,-0.000622,0.000622
regiao_CO,-0.027393,0.009225,0.012688,1.000000,-0.084572,-0.176754,-0.172095,-0.319667,0.014071,-0.014071
regiao_N,0.139255,0.000439,-0.000089,-0.084572,1.000000,-0.118073,-0.114960,-0.213540,-0.062985,0.062985
regiao_NE,0.097410,0.004377,0.009029,-0.176754,-0.118073,1.000000,-0.240265,-0.446294,-0.000653,0.000653
regiao_S,0.037427,-0.035132,-0.010310,-0.172095,-0.114960,-0.240265,1.000000,-0.434530,-0.023923,0.023923
regiao_SE,-0.153195,0.018133,-0.007127,-0.319667,-0.213540,-0.446294,-0.434530,1.000000,0.038949,-0.038949
produto_ETANOL,-0.707216,-0.011107,-0.000622,0.014071,-0.062985,-0.000653,-0.023923,0.038949,1.000000,-1.000000
produto_GASOLINA,0.707216,0.011107,0.000622,-0.014071,0.062985,0.000653,0.023923,-0.038949,-1.000000,1.000000

In [31]:
X3 = df3r.values
X3

array([[3.110e+00, 2.017e+03, 7.000e+00, ..., 1.000e+00, 0.000e+00,
        1.000e+00],
       [2.020e+00, 2.017e+03, 7.000e+00, ..., 1.000e+00, 1.000e+00,
        0.000e+00],
       [3.599e+00, 2.017e+03, 7.000e+00, ..., 0.000e+00, 0.000e+00,
        1.000e+00],
       ...,
       [4.850e+00, 2.018e+03, 6.000e+00, ..., 0.000e+00, 0.000e+00,
        1.000e+00],
       [4.599e+00, 2.018e+03, 6.000e+00, ..., 0.000e+00, 0.000e+00,
        1.000e+00],
       [3.049e+00, 2.018e+03, 6.000e+00, ..., 0.000e+00, 1.000e+00,
        0.000e+00]], dtype=float32)

In [32]:
y3_pred = modelo.predict(X3)
y3_pred

array([2.73030002, 1.78428715, 3.01323084, ..., 4.0967488 , 4.01487997,
       2.53012523])

In [33]:
# imputar os valores ausentes
df3['compra'] = y3_pred
df3

<ipython-input-33-c82ea7d461da>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['compra'] = y3_pred

,regiao,uf,municipio,bairro,produto,venda,compra,ano,mes,bandeira,revenda
0,SE,SP,SOROCABA,JARDIM ZULMIRA,GASOLINA,3.110,2.730300,2017,7,BRANCA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...
1,SE,SP,SOROCABA,JARDIM ZULMIRA,ETANOL,2.020,1.784287,2017,7,BRANCA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...
2,NE,BA,ITABUNA,MANOEL LEAO,GASOLINA,3.599,3.013231,2017,7,BRANCA,LOPES LEMOS COMERCIO DE COMBUSTIVEIS LTDA
4,S,PR,PATO BRANCO,CENTRO,ETANOL,2.780,2.179818,2017,7,RODOIL,SANTOS & MERLO LTDA.
5,N,AC,CRUZEIRO DO SUL,CENTRO,GASOLINA,4.700,3.554860,2017,7,PETROBRAS DISTRIBUIDORA S.A.,CARDINAL E OLIVEIRA LTDA
...,...,...,...,...,...,...,...,...,...,...,...
3212932,SE,MG,MANHUACU,REALEZA,GASOLINA,4.790,4.257646,2018,6,RAIZEN,AUTO POSTO NAZARAO REALEZA LTDA
3212933,SE,MG,MANHUACU,REALEZA,ETANOL,2.990,2.562455,2018,6,RAIZEN,AUTO POSTO NAZARAO REALEZA LTDA
3212937,NE,PI,PARNAIBA,SAO BENEDITO,GASOLINA,4.850,4.096749,2018,6,PETROBRAS DISTRIBUIDORA S.A.,V. MACHADO & CIA LTDA
3212938,NE,BA,BARREIRAS,CENTRO,GASOLINA,4.599,4.014880,2018,6,PETROBRAS DISTRIBUIDORA S.A.,POSTO MACAUBENSE LTDA
3212939,NE,BA,BARREIRAS,CENTRO,ETANOL,3.049,2.530125,2018,6,PETROBRAS DISTRIBUIDORA S.A.,POSTO MACAUBENSE LTDA

In [34]:
df3.corr()

           venda    compra       ano       mes
venda   1.000000  0.982925  0.437349  0.072780
compra  0.982925  1.000000  0.457429  0.072049
ano     0.437349  0.457429  1.000000  0.013873
mes     0.072780  0.072049  0.013873  1.000000

## Gerar dataframe consolidado

In [35]:
# fazer marcaÃ§Ã£o de que certos valores foram imputados
df = df2.copy()
df['imputado'] = 0
df = pd.concat([df, df3])
df['imputado'] = df['imputado'].fillna(1)
df['imputado'] = df['imputado'].astype('uint8')
df

,regiao,uf,municipio,bairro,produto,venda,compra,ano,mes,bandeira,revenda,imputado
3,S,PR,PATO BRANCO,CENTRO,GASOLINA,3.680,3.039600,2017,7,RODOIL,SANTOS & MERLO LTDA.,0
9,N,AC,CRUZEIRO DO SUL,JOÃƒÂƒO ALVES,GASOLINA,4.700,3.575700,2017,7,BRANCA,CARDINAL E OLIVEIRA LTDA,0
13,N,AC,RIO BRANCO,ESTACAO EXPERIMENTAL,GASOLINA,3.830,3.282900,2017,7,PETROBRAS DISTRIBUIDORA S.A.,AUTO POSTO ISAURAO LTDA,0
14,N,AC,RIO BRANCO,ESTACAO EXPERIMENTAL,ETANOL,3.600,3.005600,2017,7,PETROBRAS DISTRIBUIDORA S.A.,AUTO POSTO ISAURAO LTDA,0
15,N,AC,RIO BRANCO,AVIARIO,GASOLINA,3.850,3.439900,2017,7,PETROBRAS DISTRIBUIDORA S.A.,COMDEPE COMERCIO DE DERIVADOS DE PETROLEO LTDA,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3212932,SE,MG,MANHUACU,REALEZA,GASOLINA,4.790,4.257646,2018,6,RAIZEN,AUTO POSTO NAZARAO REALEZA LTDA,1
3212933,SE,MG,MANHUACU,REALEZA,ETANOL,2.990,2.562455,2018,6,RAIZEN,AUTO POSTO NAZARAO REALEZA LTDA,1
3212937,NE,PI,PARNAIBA,SAO BENEDITO,GASOLINA,4.850,4.096749,2018,6,PETROBRAS DISTRIBUIDORA S.A.,V. MACHADO & CIA LTDA,1
3212938,NE,BA,BARREIRAS,CENTRO,GASOLINA,4.599,4.014880,2018,6,PETROBRAS DISTRIBUIDORA S.A.,POSTO MACAUBENSE LTDA,1
3212939,NE,BA,BARREIRAS,CENTRO,ETANOL,3.049,2.530125,2018,6,PETROBRAS DISTRIBUIDORA S.A.,POSTO MACAUBENSE LTDA,1

In [36]:
#df = pd.concat([df2, df3])
#df

In [37]:
# arredondar valores para 4 casas decimais
for col in ['venda', 'compra']:
    df[col] = df[col].round(3)
df

,regiao,uf,municipio,bairro,produto,venda,compra,ano,mes,bandeira,revenda,imputado
3,S,PR,PATO BRANCO,CENTRO,GASOLINA,3.680,3.040,2017,7,RODOIL,SANTOS & MERLO LTDA.,0
9,N,AC,CRUZEIRO DO SUL,JOÃƒÂƒO ALVES,GASOLINA,4.700,3.576,2017,7,BRANCA,CARDINAL E OLIVEIRA LTDA,0
13,N,AC,RIO BRANCO,ESTACAO EXPERIMENTAL,GASOLINA,3.830,3.283,2017,7,PETROBRAS DISTRIBUIDORA S.A.,AUTO POSTO ISAURAO LTDA,0
14,N,AC,RIO BRANCO,ESTACAO EXPERIMENTAL,ETANOL,3.600,3.006,2017,7,PETROBRAS DISTRIBUIDORA S.A.,AUTO POSTO ISAURAO LTDA,0
15,N,AC,RIO BRANCO,AVIARIO,GASOLINA,3.850,3.440,2017,7,PETROBRAS DISTRIBUIDORA S.A.,COMDEPE COMERCIO DE DERIVADOS DE PETROLEO LTDA,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3212932,SE,MG,MANHUACU,REALEZA,GASOLINA,4.790,4.258,2018,6,RAIZEN,AUTO POSTO NAZARAO REALEZA LTDA,1
3212933,SE,MG,MANHUACU,REALEZA,ETANOL,2.990,2.562,2018,6,RAIZEN,AUTO POSTO NAZARAO REALEZA LTDA,1
3212937,NE,PI,PARNAIBA,SAO BENEDITO,GASOLINA,4.850,4.097,2018,6,PETROBRAS DISTRIBUIDORA S.A.,V. MACHADO & CIA LTDA,1
3212938,NE,BA,BARREIRAS,CENTRO,GASOLINA,4.599,4.015,2018,6,PETROBRAS DISTRIBUIDORA S.A.,POSTO MACAUBENSE LTDA,1
3212939,NE,BA,BARREIRAS,CENTRO,ETANOL,3.049,2.530,2018,6,PETROBRAS DISTRIBUIDORA S.A.,POSTO MACAUBENSE LTDA,1

In [38]:
# gerar arquivo CSV com valores imputados
arquivo_saida = "ge-cv-2015-2020.csv.bz2"
df.to_csv(arquivo_saida, index=False, encoding='utf-8')